reflection/src/main/resources/person.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Name" type="xs:string" />
                <xs:element name="Age" type="xs:integer" />
                <xs:element name="Salary" type="xs:double" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>